fastapi
uvicorn
python-multipart
Pillow
PyMuPDF
python-docx
pandas
tensorflow
scikit-learn>=1.0.0,<1.5.0
imbalanced-learn>=0.10.0
sentence-transformers
transformers
pgvector
aiofiles
python-dotenv
PyPDF2
reportlab
torchvision
rapidfuzz
openai-whisper
opencv-python-headless
ffmpeg-python
pycryptodome
langdetect
pillow-heif
clip
pytesseract
